# Django
DJANGO_SECRET_KEY=sua_chave_secreta_aqui_mude_isso
DEBUG=False

# Banco de dados PostgreSQL
DB_NAME=gestao_eventos
DB_USER=postgres
DB_PASSWORD=sua_senha_do_banco
DB_HOST=localhost
DB_PORT=5432

# Opções de segurança (True se usar HTTPS)
SECURE_SSL_REDIRECT=False